<div class="container pt-5">
  <form
    class="input-group m-auto w-50 mb-3"
    action="/operation/search"
    method="get"
  >
    <input name="time" type="date" class="form-control rounded" />
    <button type="submit" class="btn btn-primary">Search</button>

  </form>
  <div class="m-auto w-75">
    <table class="table table-dark table-striped">
      <tr>
        <td>Truck id</td>
        <td>name</td>
        <td>driver email</td>
        <td>truck weight</td>
        <td>num of parcels</td>
        <td>total weight of parcels</td>
        <td>total truck weight </td>
        <td>actions</td>
      </tr>
      {{#each trucks}}
        <tr>
          <td>{{this.id}} </td>
          <td>{{this.username}} </td>
          <td>{{this.email}} </td>
          <td>{{this.weight}} kg </td>
          <td>{{this.count}} parcel </td>
          <td>{{this.parcels_weight}} kg </td>
          <td>{{this.total}} kg </td>
          <td><a href="/operation/view/?id={{this.id}}"><button
                class="btn bg-success"
              >view</button>
            </a>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>